<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar navbar-nav">
        <li>
            <button (click)="ongetAllProducts()" class="btn btn-outline-info btn-sm m-1">All</button>
        </li>
        <li>
            <button (click)="ongetSelectedProducts()" class="btn btn-outline-info btn-sm m-1">Selected</button>
        </li>
        <li>
            <button (click)="ongetAvailableProducts()" class="btn btn-outline-info btn-sm m-1">available</button>
        </li>
        <li>
            <button (click)="onNewProduct()" class="btn btn-outline-info btn-sm m-1">New Product</button>
        </li>
    </ul>

    <ul class="navbar navbar-nav m-auto">
        <li>
            <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline">
                <input gModel name="keyword"   class="form-control " type="text" placeholder="Search">
                <button class="btn btn-primary" type="button">Search
                    <span class="fa fa-search"></span> 
                </button>
            </form> 
    </li>
</ul> 
</nav>